@using ProductManagementApp.Helpers;
@model PaginatedList<ProductManagementApp.Models.allProduct>

@{
    ViewData["Title"] = "Product List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price.Amount</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @(Model.PageIndex) of @(Model.TotalPages)
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
    }
</div>
